body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  min-height: 100vh;
  
}

.quote {
  margin: auto;
  width: 100%;
  max-width: 400px;
  min-height: 180px;
  padding: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

p {
  font-size: 27px;
}
